@font-face {
	font-family: sourcesans;
	src: url("../fonts/sourcesansproregular.ttf");
}

body {
	font-family: sourcesans;
	padding-top: 80px;
}
.hidden,#upBtn, #canBtn{
	display: none;
}
.cmn-btn{
	margin-top: 35px;
}
.user-raw{
	margin-top: 50px;
}
#username,#u_name{
	text-transform: capitalize;
}
