@font-face {
	font-family: sourcesans;
	src: url("../fonts/sourcesansproregular.ttf");
}

body {
	font-family: sourcesans;
	padding-top: 70px;
}
.form-control{
	border-radius:0px;
}
.hidden{
	display: none;
}